// Define variables for your color scheme

// For example:
$black: #1D1D1D;
$gray: #7F7F7F;
$light-gray: #A5A5A5;
$dark-green: #6B9080;
$green: #A4C3B2;
$light-green: #CCE3DE;
$light-blue: #F6FFF8;
$yellow: #F9D342;
$red: #F76C6C;
$orange: #FFA500;
