.row-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
  box-sizing: border-box;
}

.category-selected {
  border: 2px solid $green;
}
