.form-control {
  background-color: $light-blue !important;
}

.form-label {
  margin-bottom: 2px;
}

.form-check-input {
  background-color: $light-blue !important;
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
