.results-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 12px;
}

.recipe-link {
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  color: $dark-green;
}

.return-wrapper {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 2rem 28px;
  background-color: $white;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
}

.return-link {
  cursor: pointer;
  color: $black;
  text-decoration: underline;
  font-size: 14px;
}

.ingredients-list-wrapper {
  display: inline-block;
}

.source-wrapper {
  height: 50vh;
  min-width: 300px;
  max-width: 320px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;
  border: 1px solid $dark-green;
  border-radius: 4px;
  padding: 8px 8px;
}

.recipe-images {
  position : cover;
}

@media (max-height: 745px) {
  .source-wrapper {
    height: 45vh;
    min-width: 280px;
    max-width: 300px;
  }
}

@media (min-height: 840px) {
  .source-wrapper {
    height: 45vh;
    margin: 16px auto;
    min-width: 320px;
    max-width: 360px;
  }
}

@media (min-height: 1000px) {
  .source-wrapper {
    height: 35vh;
    margin: 16px auto;
    min-width: 320px;
    max-width: 360px;
  }
}

@media (min-width: 1200px) {
  .source-wrapper {
    height: 40vh;
    min-width: 280px;
    max-width: 300px; }
}

.destroy-link {
  text-decoration: underline;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  cursor: pointer;
}

.edit-link {
  cursor: pointer;
  color: $dark-green;
  text-decoration: underline;
  font-size: 14px;
}
