.results-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 12px;
}

.recipe-link {
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  color: $dark-green;
}

.return-wrapper {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 2rem 28px;
  background-color: $white;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
}

.return-link {
  cursor: pointer;
  color: $black;
  text-decoration: underline;
  font-size: 14px;
}
