// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Global styles

body {
  font-family: 'Inter', sans-serif;
  color: $gray;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

// Heading & Body styles


h1, h2 {
  color: $black;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

h3, h4, h5, h6 {
  color: $black;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.color-white {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  color: $black;
}


.heading-style-h1 {
  font-size: 47px;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-family: "Quicksand", sans-serif;
}

.heading-style-h2 {
  font-size: 39px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.heading-style-h3 {
  font-size: 33px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.heading-style-h4 {
  font-size: 27px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.heading-style-h5 {
  font-size: 23px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}

.heading-style-h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

// Body Size

.text-size-small {
  font-size: 14px;
}

.text-size-regular {
  font-size: 16px;
}

.text-size-medium {
  font-size: 18px;
}

// Font Weights

.text-weight-regular {
  font-weight: 400;
}

.text-weight-medium {
  font-weight: 500;
}

.text-weight-semibold {
  font-weight: 600;
}

// Layouts

.full-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: white;
}

.container-custom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.thick-line {
  border: 0;
  height: 4px;
  width: 50vw;
  background-color: $dark-green;
  margin: 1rem 0;
  justify-content: center;
}

.row {
  width: 100%;
  margin: 0 0;
}

.text-start {
  text-align: start !important;
}
