<div class="full-screen">
  <div class="container-custom">
    <h1 class="text-center">My Digital Coobook</h1>
    <hr class="thick-line">
    <div class="row-wrapper">
      <div class="row">
        <div class="col-6 col-lg-3 g-2">
          <a href="/categories/0">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1127070863/fr/photo/v%C3%A9g%C3%A9tarien-nems-vietnamiens-avec-carotte-concombre-sauce-%C3%A9pic%C3%A9e-nouilles-de-riz-et-de-choux.webp?a=1&b=1&s=612x612&w=0&k=20&c=IGPMUnAORlA4CosgTTUPi_vq5aiFyW-mEPR1lGQnJSc=)">
              <h2 class="text-size-regular color-white">Entrées</h2>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3 g-2">
          <a href="/categories/1">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/488960908/fr/photo/de-p%C3%A2tes-maison.webp?a=1&b=1&s=612x612&w=0&k=20&c=t0rzgpw_8cFKmWRhroenw9B0S897AQdfNrUHhV2ijzA=)">
              <h2 class="text-size-regular color-white">Plats</h2>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3 g-2">
          <a href="/categories/2">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1499126167718-c87f5c1387e8?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNhdWNlJTIwdmVyc2VyfGVufDB8fDB8fHww)">
              <h2 class="text-size-regular color-white">Sauces</h2>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3 g-2">
          <a href="/categories/3">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1223139298/fr/photo/photographie-%C3%A0-angle-%C3%A9lev%C3%A9-dune-tarte-aux-fruits-en-treillis.webp?a=1&b=1&s=612x612&w=0&k=20&c=KHUwqNguKplwaf8cUWLOulB6uHlApfAlJDz8x_oeiNg=)">
              <h2 class="text-size-regular color-white">Desserts</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
